body{
    background-color: coral;
}
h1{
    color: bisque;
    font-family: 'Coming Soon', cursive;
}
h2{
color: aquamarine;
font-family: 'Coming Soon', cursive;
font-family: 'Itim', cursive;
}

p{
color: lightblue;
font-family: 'Coming Soon', cursive;
font-family: 'Itim', cursive;
}